.header {
  padding: 20px 0;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-left {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: var(--card-bg);
  padding: 0 30px;
  border-radius: 50px;
}

.nav-menu a {
  color: var(--text);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  padding: 15px 10px;
}

.nav-menu a.active {
  text-decoration: underline;
  color: var(--accent);
  background-color: #777;
}

.nav-menu a:hover {
  text-decoration: underline;
  color: var(--accent);
  background-color: #777;
}

.nav-logo img {
  width: 45px;
  height: auto;
}
